<div *ngIf="showButton">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Salesforce API</h1>
            <hr class="my-2">
        </div>
    </div>
    <button style="margin-left: 200px" class="btn btn-primary" (click)="viewContactForm()">Create Contact</button>
    <button style="margin-left: 200px" class="btn btn-primary" (click)="viewContactList()">View Contacts</button>
    <button style="margin-left: 200px" class="btn btn-primary" (click)="viewTraineeForm()">Create Trainee</button>
    <button style="margin-left: 200px" class="btn btn-primary" (click)="viewTraineeList()">View Trainees</button>
</div>
<div *ngIf="showContact">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Create Contact</h1>
            <button class="btn btn-dark" type="button" (click)="backTo()" style="margin-top: -100px;margin-left: 900px;width: 150px;">Back</button>
            <hr class="my-2">
        </div>
    </div>
    <div style="width: 400px;padding: 20px;margin-left: 200px">
        <form>
            <div class="form-group">
                <label for="lname">First Name</label>
                <input type="text" name="fname" (click)="resetValue()" id="fname" [(ngModel)]="cData.FirstName" class="form-control" placeholder="FirstName" required>
            </div>
            <div class="form-group">
                <label for="phone">Last Name</label>
                <input type="text" name="lname" (click)="resetValue()" id="lname" [(ngModel)]="cData.LastName" class="form-control" placeholder="LastName" required>
            </div>
            <p id="status" style="color: red" hidden></p>
            <button class="btn btn-primary" type="button" (click)="submitData()">Create Contact</button>
        </form>
    </div>
</div>
<div *ngIf="showTrainee">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Create Trainee</h1>
            <button class="btn btn-dark" type="button" (click)="backTo()" style="margin-top: -100px;margin-left: 900px;width: 150px;">Back</button>
            <hr class="my-2">
        </div>
    </div>
    <div style="width: 400px;padding: 20px;margin-left: 200px">
        <form>
            <div class="form-group">
                <label for="lname">First Name</label>
                <input type="text" name="fname" (click)="resetValue()" id="fname" [(ngModel)]="tData.fname" class="form-control" placeholder="FirstName" required>
            </div>
            <div class="form-group">
                <label for="phone">Last Name</label>
                <input type="text" name="lname" (click)="resetValue()" id="lname" [(ngModel)]="tData.lname" class="form-control" placeholder="LastName" required>
            </div>
            <p id="status" style="color: red" hidden></p>
            <div class="form-group">
                <label for="phone">Email</label>
                <input type="text" name="email" (click)="resetValue()" id="email" [(ngModel)]="tData.email" class="form-control" placeholder="Email" required>
            </div>
            <p id="statusEmail" style="color: red" hidden></p>
            <button class="btn btn-primary" type="button" (click)="submitDataForTrainee()">Create Contact</button>
        </form>
    </div>
</div>
<div *ngIf="viewContact">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Contacts</h1>
            <button class="btn btn-dark" type="button" (click)="backTo()" style="margin-top: -100px;margin-left: 900px;width: 150px;">Back</button>
            <hr class="my-2">
        </div>
    </div>
    <table style="margin-left: 100px;padding: 40px">
        <thead>
            <tr>
                <th style="border: solid;padding: 20px">Id</th>
                <th style="border: solid;padding: 20px">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of contactData.recentItems">
                <td style="border: solid;padding: 20px">{{item.Id}}</td>
                <td style="border: solid;padding: 20px">{{item.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="viewTrainee">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Trainee</h1>
            <button class="btn btn-dark" type="button" (click)="backTo()" style="margin-top: -100px;margin-left: 900px;width: 150px;">Back</button>
            <hr class="my-2">
        </div>
    </div>
    <table style="margin-left: 100px;padding: 40px">
        <thead>
            <tr>
                <th style="border: solid;padding: 20px">Id</th>
                <th style="border: solid;padding: 20px">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of traineeData">
                <td style="border: solid;padding: 20px">{{item.Id}}</td>
                <td style="border: solid;padding: 20px">{{item.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ngb-toast header="Notification header" id="toast" hidden>
    <span id="toastSpan"></span>
</ngb-toast>

<div class="details">
    <div>
        <div class="btn-group" role="group" aria-label="Select Trainee">
            <button type="button" class="btn btn-secondary">Select Trainee</button>
            <div class="btn-group" role="group">
                <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>

                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <div *ngFor="let item of traineeData" class="dropdown-item">
                        <span (click)="findTraineeById(item.Id)">{{item.Name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="traineeDetailData">
        <div class="card text-left" style="width: 500px">
            <div class="card-body">
                <h4 class="card-title">{{singleTraineeDetail.Full_Name__c}}</h4>
                <p class="card-text">Trainee Id : {{singleTraineeDetail.Name}}</p>
                <p class="card-text">Gender : {{singleTraineeDetail.Gender__c}}</p>
                <p class="card-text">Date of Birth : {{singleTraineeDetail.Date_of_Birth__c}}</p>
                <p class="card-text">Email : {{singleTraineeDetail.Email__c}}</p>
                <p class="card-text">Trannie Profile : {{singleTraineeDetail.Trannie_Profile__c}}</p>
                <p class="card-text">Training Status : {{singleTraineeDetail.Training_Status__c}}</p>
            </div>
        </div>
    </div>
</div>